<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>SPORTS - NYT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="jquery.js"></script>
    <script src="bootjs.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="row">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav js-nav-add-active-class">
            <li><a href="/all" style="font-size: 14pt" id="homeBtn">Home</a></li>
            <li><a href="/saved" style="font-size: 14pt" id="savedArtBtn">Saved Articles</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right hidden-xs">
            <a type="button" class="navbar-btn btn btn-gradient-blue" am-latosans="bold"  id="scrapeBtn" style="font-size: 14pt">Scrape New Articles!</a>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
</div>
<div class="row" style="color:white; height: 500px; text-align: center; padding-top: 180px; background-image: url(images/sports.jpg); background-position: bottom">
    <h1 style="font-size: 50pt; text-shadow: 3px 3px black">MONGO SCRAPER</h1>
    <h3 style="text-shadow: 3px 3px black">New York Times - SPORTS</h3>
</div>
{{{body}}}
<script src="app.js"></script>
</body>
</html>
